<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
      .nav {
        display: flex;
        flex-direction: row;
        gap: 12px;
        list-style: none;
        padding: 0;
      }

      .banner {

        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    </style>
  </head>
  <body>
    {%- if eleventy.serverless -%}
      <div class="banner" style="background-color: rgb(245 158 11);">SERVERLESS</div>
    {%- else -%}
      <div class="banner" style="background-color: rgb(56 189 248);">NOT SERVERLESS</div>
    {%- endif -%}
    <ul class="nav" >
      <li style="font-weight:800;">Build:</li>
      <li >
        <a href="/" >home</a>
      </li>
      {%- for post in posts -%}
        <li >
          <a href="/posts/{{ post.name | slug }}/" >{{post.name}}</a>
        </li>
      {%- endfor -%}
    </ul>
    <ul class="nav" >
      <li style="font-weight:800;">Serverless:</li>
      <li >
        <a href="/preview/" >home</a>
      </li>
      {%- for post in posts -%}
        <li >
          <a href="/preview/posts/{{ post.name | slug }}/" >{{post.name}}</a>
        </li>
      {%- endfor -%}
    </ul>

    {{ content | safe  }}
  </body>
</html>